.float {
    width: 429px;
    height: 861px;


    background: #FFFFFF;
    border-radius: 20px;
}

.top_box {
    width: 429px;
    height: 69px;
    left: 1100px;
    top: 51px;
    background: green;
    padding-top: 17px;
}

.top_box span {
    float: left;
    margin-left: 11px;
    background-color:green;
    padding: 10px;
    border-radius: 16px;
}

.top_box .logo {
    padding-left: 11px;
    float: left;
    margin-left: 11px;
    width: 225px;
    height: 24px;
    left: 1159px;
    top: 91px;
    padding-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #F5F5F5;
    background: green;
}











.div31 {
    


    float: right;
    margin-top: 11px;
    margin-right: 29px;



    font-family: 'Inter';


    font-size: 40px;
    line-height: 21px;
    color: white;
    background: green;





}

.div33 {


    float: right;
    margin-top: 11px;
    margin-right: 17px;



    font-family: 'Inter';


    font-size: 40px;
    line-height: 21px;
    color: white;
    background: green;





}


.div34 {



    float: left;
    width: 100%;

    margin-top: 11px;




    font-style: normal;




    color: #F5F5F5;
    background: green
}

.div35 {



    float: left;
    width: 15%;

    padding-left: 20px;





    font-style: normal;




    color: #F5F5F5;
    background: green;

}



.div37 {



    float: left;
    width: 21%;

    padding-left: 60px;







    font-style: normal;
    text-align: center;




    color: #F5F5F5;
    background: green;

}

.div38 {



    float: left;
    width: 21%;
    padding-left: 65px;








    font-style: normal;





    background: green;

}


.float-left {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    width: 11%;



    border-radius: 20px;
}

.float-middle {
    float: left;


    width: 69%;
    height: 30px;

    left: 551px;





}

.float-right {
    float: right;
    width: 11%;
    margin-top: 20px;









}

.float-massage {
    float: left;
    width: 60%;
    margin-left: 16%;
    height: 16px;
    margin-top: 5px;








}

.div1 {
    float: left;
    width: 100%;
}

.div2 {
    float: left;
    width: 100%;
}

.div3 {
    float: left;
    width: 11%;
}



body .float ul {
    float: left;
    width: auto;
    padding: 0;
    margin-left: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body .float ul li {
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

body .float .top_box ul {
    width: 100%;
}

body .float .top_box ul li {
    width: 22%;
    text-align: center;
    margin-top: 10px;
}

body .float .top-box .logo ul {
    padding: 0;
    margin-left: 11px;
    margin-top: 0;
    margin-bottom: 0;
}

body .float .top-box .logo ul li {
    float: left;
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
}

body .float .top-box .logo ul li .chats {
    list-style-type: none;
    float: left;
    width: 25%;
    color: white;

}

body .float .top-box .logo ul li .state {
    list-style-type: none;
    float: left;
    width: 25%; color:white;

}

body .float .top-box .logo ul li .calls {
    list-style-type: none;
    float: right;
    width: 25%; color:white;

}

body .float ul li .camera {
    list-style-type: none;
    float: left;
    width: 10%;
    color: white;


}

body .float ul li .contact_photo {

    float: left;
    width: 10%;
    height:31px;
}

body .float ul li .mid_box {
    float: left;
    width: 70%;
}

body .float ul li .camera-box {
    float: left;
    width: 10%;
}


body .float ul li .first_box {
    float: left;
    width: 29%;
}

body .float ul li .first_box h3 {
    margin: 0;
    list-style-type: none;
}

body .float ul li .second_box {
    float: left;
    width: 29%;
    list-style-type: none;
}

body .float ul li .third_box {
    float: left;
    width: 29%;
    list-style-type: none;
}

body .float ul li .second_box h3 {
    margin: 0;
    list-style-type: none;
}

body .float ul li .mid_box h3 {
    margin: 0;
}

body .float ul li .date {
    float: right;
    width: 10%;
}

body.float ul li .mid_box.contact_name {
    float: left;
    width: 37%;
}
.elipse{
         float:right;
         margin-right: 15px;
         margin-top:20px;
         color: green;
}

.write_status{
             float: right;
             width:15%;
             margin-right: 15px;
             height:43px;
             text-align: center;
             
             
            
             background-color: grey;
             padding-top: 25px;
             border-radius: 41px;
}
.recent{

        float:left;
        margin-top: 11px;
        
        margin-bottom: 25px;
        margin-left: 11px;
        color:grey;
        
}
.video_status{
    float: right;
    width:15%;
    margin-right: 15px;
    height:43px;
    text-align: center;
    color: white;
   
    background-color: green;
    padding-top: 25px;
    border-radius: 41px;
}

.status{
    float:left;
    
    width:30px;
    height:21px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: grey;
   
    text-align: center;
    border-radius: 31px;
}
.circle{
    float:left;
   
    width:39px;
    height:37px;
    
    background-color: green;
   
    text-align: center;
    border-radius: 31px;
    
}

.view {
    width: 429px;
   height: 801px;
    color:white;
    background-color: grren;
}

.mery{
    width:429px;
    margin-left: 31px;
    position:absolute;
}


.meery {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 141px;
    
    
    border-radius: 32px;
    

}
.jerry {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 283px;
    
    
    border-radius: 32px;

}
.sunny{
    position: absolute;
width: 70px;
height: 70px;
left: 6px;
top: 353px;

background: url(pagerduty.jpg);
border-radius: 31px;
}

.monny{

    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 423px;
    
    background: url(pagerduty.jpg);
    border-radius: 31px;
}
.jon{
    
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 423px;
    
    
    border-radius: 31px;
}
.jelly{

    
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 493px;
    
    
    border-radius: 31px;
}
.mona{
    
    
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6px;
    top: 563px;
    
    
    border-radius: 31px;
}

.shona{
    
    
    
        position: absolute;
        width: 70px;
        height: 70px;
        left: 6px;
        top: 633px;
        
        
        border-radius: 31px;

}